# Section 1. 변수에 대한 이해
## Section 1.1 : 변수

In [1]:
temp = 2
print(temp)

2

## Section 1.2 : 숫자

- 숫자의 사칙연산

In [3]:
## 사칙연산
a = 7
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)

10
4
21
2.3333333333333335

- 몫 //

In [8]:
## 몫 "//"
print(a//b)

2

- 나머지"%"

In [9]:
#### 나머지 '%'
print(a%b)

1

- 지수 "**"

In [10]:
## 지수 '**'
print(a**b)

343

## Section 1.2 문자열

- 문자열

In [11]:
#### 문자열 할당
temp = 'python is easy'
temp

'python is easy'

In [12]:
print(temp)

python is easy

- 문자열의 길이 len()

In [13]:
len(temp)

14

- 문자열의 결합

In [15]:
####공백 없이
'python' + 'is easy'

'pythonis easy'

In [17]:
####공백 있이
print('python ' + 'is easy')
print('python' + ' is easy')
print('python'+" "+"is esay")

python is easy
python is easy
python is esay

- 특정 문자 찾기 index[]

In [18]:
temp = 'python is easy'
temp[3]

'h'

- 문자열 찾기 silce[:]

In [21]:
#### slice[:]
print(temp[0:5])
print(temp[:5])

pytho
pytho

- 문자열의 나누기 split()

In [22]:
#### split()
temp = 'python is easy'
temp.split()

['python', 'is', 'easy']

In [24]:
temp2 = 'python,java,R,SAS'
temp2.split(",")

['python', 'java', 'R', 'SAS']

- 문자열의 합치기

In [25]:
#### join()
temp2 = ['python', 'java', 'R', 'SAS']
','.join(temp2)

'python,java,R,SAS'

# Section 2 : 데이터 구조 - 리스트, 튜플, 딕셔너리
## Section2.1 : 리스트

- 리스트 생성하기 list()

In [26]:
####리스트 생성
number = ['one', 'two', 'three', 'four']
print(number)

['one', 'two', 'three', 'four']

-  리스트 구조로 변환하기 list()

In [27]:
####리스트 구조로 변환
number_tuple = ('one', 'two', 'three', 'four')
print(number_tuple)
list(number_tuple)

('one', 'two', 'three', 'four')

['one', 'two', 'three', 'four']

In [29]:
number = ['one', 'two', 'three', 'four']
print(number[1])
print(number[2:4])

two
['three', 'four']

- 특정 값 변화 index[]

In [31]:
####리스트값 변환
number[0] = 'first'
print(number)

['first', 'two', 'three', 'four']

- 리스트 값 추가와 삭제 append(), del, remove()

In [32]:
####append()
number.append('five')
print(number)

['first', 'two', 'three', 'four', 'five']

In [34]:
number = ['one', 'two', 'three', 'four']
del number[1]
print(number)

['one', 'three', 'four']

In [35]:
#### remove()
number.remove('three')
number

['one', 'four']

- 리스트 병합 extend()

In [36]:
#### extend()
number1 = ['one', 'two', 'three', 'four']
number2 = ['six', 'seven', 'eight', 'nine']
number1.extend(number2)
number1

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine']

- 정렬하기 sort(), sorted()

In [37]:
number = ['one', 'two', 'three', 'four']
newnumber = sorted(number)
print(number)
print(newnumber)

['one', 'two', 'three', 'four']
['four', 'one', 'three', 'two']

In [38]:
### sort()
number.sort()
print(number)

['four', 'one', 'three', 'two']

- 정렬하기 sort()

In [39]:
#### sort(reverse = True)
number = [1,2,3,4]
number.sort(reverse = True)
print(number)

[4, 3, 2, 1]

- 항목 개수 len()

In [40]:
number = ['one', 'two', 'three', 'four']
len(number)

4

## Section 2.2 : 튜플

- 튜플 생성하기 tuple()

In [41]:
####tuple()
number = (1,2,3,4)
print(number)
type(number)

(1, 2, 3, 4)

tuple

# Section 2.3 : 딕셔너리

- 딕셔너리 구조로 변환하기 dict()

In [43]:
#### dict()
fruit_price = [['apple', 3500], ['peer', 2500], ['cherry', 5000]]
fruit_price = dict(fruit_price)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

- 키 변환하기 keys()

In [44]:
#### keys()
fruit_price = {'apple': 3500, 'peer': 2500, 'cherry': 5000}
fruit_price.keys()

dict_keys(['apple', 'peer', 'cherry'])

- 항목 반환하기 index[]

In [46]:
#### index()
fruit_price['peer']

2500

In [49]:
#### index()
school_class = {1:['mina', 'jane', 'mark'],
               2 : ['peter', 'pay', 'parker'],
               3 : ['pay', 'joy', 'conan']}
print(school_class.get(1))
print(school_class[1])

['mina', 'jane', 'mark']
['mina', 'jane', 'mark']

- 딕셔너리 병합 update()

In [51]:
#### update()
fruit_price = {'apple': 3500, 'peer': 2500, 'cherry': 5000}
others = {'banana':3200, 'grape':2000}
fruit_price.update(others)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000, 'banana': 3200, 'grape': 2000}

In [52]:
#### update() - 리스트 항목
school_class = {1:['mina', 'jane', 'mark'],
               2 : ['peter', 'pay', 'parker']}
other_class = {3 : ['pay', 'joy', 'conan']}
school_class.update(other_class)
school_class

{1: ['mina', 'jane', 'mark'],
 2: ['peter', 'pay', 'parker'],
 3: ['pay', 'joy', 'conan']}

In [53]:
school_class = {1:['mina', 'jane', 'mark'],
               2 : ['peter', 'pay', 'parker']}
school_class[3] = ['pay', 'joy', 'conan']
school_class

{1: ['mina', 'jane', 'mark'],
 2: ['peter', 'pay', 'parker'],
 3: ['pay', 'joy', 'conan']}

- 삭제하기 del

In [54]:
#### del
fruit_price = {'apple': 3500, 'peer': 2500, 'cherry': 5000}
del fruit_price['apple']
print(fruit_price)

{'peer': 2500, 'cherry': 5000}

In [57]:
#### del - 리스트 항목
school_class = {1:['mina', 'jane', 'mark'],
               2 : ['peter', 'pay', 'parker'],
               3 : ['pay', 'joy', 'conan']}
del school_class[3]
school_class

{1: ['mina', 'jane', 'mark'], 2: ['peter', 'pay', 'parker']}

# Section 3 : 조건문과 반목문
## Section 3.1 : boolean

- boolean 데이터 타입

In [58]:
#### boolean
python = True
type(python)

bool

## Section 3.2 : 조건문 if, elif, else

- If 문

In [59]:
#### if
python = True
if(python) :
    print("조건문이 참입니다.")

조건문이 참입니다.

- else 문

In [60]:
#### else
python = False
if(python) :
    print('조건문이 참입니다.')
else:
    print('조건문이 참이 아닙니다.')

조건문이 참이 아닙니다.

- elif 문

In [62]:
#### elif
python = False
pycharm = True
if(python):
    print("첫번째 조건문이 참입니다.")
elif (pycharm):
    print("첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.")
else:
    print("조건문이 참이 아닙니다.")

첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.

## Section 3.3 : 반복문 for

- for 문

In [63]:
#### for
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

- 리스트 for문

In [68]:
####리스트 for문
fruit = ['apple', 'peer', 'cherry']
for i in fruit:
    print(i)

apple
peer
cherry

- 딕셔너리 for문

In [69]:
#### 딕셔너리 for문 key()
fruit_price = {'apple': 3500, 'peer': 2500, 'cherry': 5000}
for i in fruit_price.keys():
    print(i)

apple
peer
cherry

In [70]:
#### 딕셔너리 for문 values()
#### 딕셔너리 for문 key()
fruit_price = {'apple': 3500, 'peer': 2500, 'cherry': 5000}
for i in fruit_price.values():
    print(i)

3500
2500
5000

In [71]:
#### 딕셔너리 for문 values()
#### 딕셔너리 for문 key()
fruit_price = {'apple': 3500, 'peer': 2500, 'cherry': 5000}
for i in fruit_price.items():
    print(i)

('apple', 3500)
('peer', 2500)
('cherry', 5000)

- for문 활용

In [73]:
#### for문의 활용
high_price = []
low_price = []
fruit_price = {'apple': 3500, 'peer': 2500, 'cherry': 5000}
for item in fruit_price.items():
    if item[1] > 3000:
        high_price.append(item[0])
    else:
        low_price.append(item[0])
print(high_price)
print(low_price)

['apple', 'cherry']
['peer']

# 데이터 입출력
## Section 3.1 : 데이터 출력

- txt 파일 출력

In [76]:
#### print() 데이터 출력 - txt
fruit = open('./fruit.txt',mode = 'wt')
fruit_price = {'apple': 3500, 'peer': 2500, 'cherry': 5000}
for item in fruit_price.items():
    print(item, file = fruit)
fruit.close()

In [77]:
### write() 데이터 출력 - txt
fruit = open('./fruit2.txt', mode = 'wt')
fruit.write("apple 3500\n")
fruit.write("peer 2500\n")
fruit.write("cherr 5000\n")
fruit.close()

- csv 파일 출력

In [78]:
#### write() 데이터 출력 - csv
import csv
with open('./fruit.csv', 'w', newline='') as fruit:
    writer = csv.writer(fruit, delimiter = ',')
    writer.writerow(['apple'])
    writer.writerow(['peer'])
    writer.writerow(['cherry'])
    writer.writerow(['banana'])
    writer.writerow(['peach'])

## Section 3.2 : 데이터 입력

- txt 파일 입력

In [79]:
#### open(), read 데이터 입력 - txt
fruit_path = open('./fruit.txt', 'rt')
fruit_path

In [80]:
fruit = fruit_path.readlines()
print(fruit)

["('apple', 3500)\n", "('peer', 2500)\n", "('cherry', 5000)\n"]

- CSV 파일 입력

In [117]:
import csv
f = open('./fruit.csv', mode = 'rt')
csvRead= csv.reader(f)
csvRead

In [118]:
fruit = []
for i in csvRead:
    fruit.append(csvRead)
    print(i)

['apple']
['peer']
['cherry']
['banana']
['peach']